div[class="container-fluid col-12"]{ text-align: center; font-family:'Roboto Condensed', sans-serif; }

div[class="col-6 navbar-brand"] {font-weight: lighter; font-size: 14px; font-family: 'Roboto Condensed', sans-serif}

div[id="Historia"] {text-align: left;}

#nuestra {font-weight: bold; font-size: 20px;}

#historia {font-weight: bolder; font-size: 50px;}

#personal {background: rgb(245, 247,216);}

#nombres {font-family:'Roboto Condensed', sans-serif; font-weight: bold; font-size: 15px;}

#cargo {font-family:'Roboto Condensed', sans-serif; font-style: italic; font-size: 10px;}

.icons{
    height: 50px;
    display:block;
    margin:auto;

}